/* Main area size */

.columns-area__panels__main {
    max-width: 700px;
}

/* Profiles */

.mention {
    background-color: #93AEFD36;
    margin: 1px 0px;
    padding: 0px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
}
  
.mention:hover {
    background-color: #758CD036;
    text-decoration: underline;
}

/* Tags */

.mention.hashtag {
    background-color: #93AEFD36;
    margin: 1px 0px;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: dashed;
    border-color: #3C6AF7;
    border-width: 0.5px;
    border-radius: 3px;
}
  
.mention.hashtag:hover {
    background-color: #758CD036;
    text-decoration: underline;
}
